/* Main Header CSS */
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* height: 80px; */
  background-color: rgb(255, 255, 255);
  padding: 0px 30px;
  position: relative;
}
/* Common CSS */
.flex {
  display: flex;
}
/* Menu Section */
.menu {
  display: flex;
  gap: 15px;
}
.menu li a:hover {
  color: #56cfe1;
}
/* Icons CSS */
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  font-size: 20px;
  color: #242424;
  cursor: pointer;
}
.icon:hover {
  color: #56cfe1;
}
.menuBar {
  display: none;
}
.menuUL {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 992px) {
  .menuBar {
    display: block;
  }
  .active {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(141, 0, 206);
    color: #fff;
    flex-direction: column;
    z-index: 999999;
    width: 100%;
    height: 60vh;
    text-align: center;
  }
  .deactive {
    display: none;
  }
  .menuItem {
    padding-top: 20px;
  }
  .menuUL {
    padding-top: 50px;
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
  /* Main Header CSS */
  .mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 80px; */
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    position: relative;
  }
  /* Common CSS */
  .flex {
    display: flex;
  }
  /* Menu Section */
  .menu {
    display: flex;
    gap: 15px;
  }
  .menu li a:hover {
    color: #56cfe1;
  }
  /* Icons CSS */
  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .icon {
    font-size: 20px;
    color: #242424;
    cursor: pointer;
  }
  .icon:hover {
    color: #56cfe1;
  }
  .menuBar {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
