.itemPrice {
  text-decoration: line-through;
}
.price {
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.arrivalItemBox > img {
  width: 100%;
  height: 400px;
}

.arrivalItemContent > h4 {
  padding-top: 10px;
  margin: 0px;
}

.price > h5 {
  padding-top: 10px;
  margin: 0px;
}
@media only screen and (max-width: 600px) {
  .arrivalItemBox > img {
    width: 100%;
    height: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .arrivalItemBox > img {
    width: 100%;
    height: 300px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .arrivalItemBox > img {
    width: 100%;
    height: 300px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .arrivalItemBox > img {
    width: 100%;
    height: 400px;
  }
}
