html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
ul {
  list-style: none;
}
.swiper {
  width: 100%;
  height: 75vh;
}
.main-wrapper {
  width: 90%;
  margin: 0 auto;
}
.btn {
  padding: 14px 28px;
  background: none;
  border: 2px solid #293341;
  font-size: 18px;
  color: #293341;
}
.center {
  text-align: center;
}
.fa-shopping-cart {
  color: tomato;
}
/* Media Query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .swiper {
    height: 30vh;
  }
  .btn {
    padding: 8px 15px;
    background: none;
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .swiper {
    height: 30vh;
  }
  .btn {
    padding: 8px 15px;
    background: none;
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .swiper {
    height: 50vh;
  }
  .btn {
    padding: 10px 17px;
    background: none;
    font-size: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .swiper {
    height: 75vh;
  }
  .btn {
    padding: 14px 28px;
    background: none;
    border: 2px solid #293341;
    font-size: 18px;
    color: #293341;
  }
}
